{% extends "base.html" %}

{% load static %}

{% block page_header %}
{% endblock %}


{% block content %}
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 hero-text">
                    <h1>Explore our Irish Handthrown Wares</h1>
                    <div class="my-5">
                        <h4>
                        <a href="" class="shop-now-button btn btn-lg text-uppercase py-3">Shop Now</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row p-4">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="shadow card p-5">
                            <a href="" class=""><img src="media\kitchen_ware.jpg" class="card-img-top" style="height: 80%; object-fit: contain;" alt="kitchen ware image"></a>
                            <div class="card-body">
                                <a href="" class="link">
                                    <h5 class="card-title text-center">Kitchen Ware</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="shadow card p-5">
                            <a href="" class=""><img src="media\living_ware.jpg" class="card-img-top" style="height: 100%; object-fit: contain;" alt="Living ware image"></a>
                            <div class="card-body">
                                <a href="" class="link">
                                    <h5 class="card-title text-center">Living Ware</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="shadow card p-5">
                            <a href="" class=""><img src="media\sale_ware.jpg" class="card-img-top" style="height: 100%; object-fit: contain;" alt="kitchen ware image"></a>
                            <div class="card-body">
                                <a href="" class="link">
                                    <h5 class="card-title text-center">Special Offer</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>

{% endblock %}

