{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="container-fluid bckgr-white border-btm">
        <div class="row">
            <div class="col text-center">
                <h2 class="menu-font mt-4 mb-4">Order History</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-4">
                <div class="card-body p-2 mt-2">
                    <div class="">
                        <a href="{% url 'profile' %}" class="btn btn-profile-menu mt-1 p-2 w-100">
                            <h5 class="px-3 py-2">Delivery Details</h5>
                        </a>
                    </div>
                    <div class="">
                        <a href="{% url 'profile_orders' %}" class="btn btn-profile-menu mt-1 p-2 w-100">
                            <h5 class="px-3 py-2">Order History</h5>
                        </a>
                    </div>
                    <div class="">
                        <a href="{% url 'profile_reviews' %}" class="btn btn-profile-menu mt-1 p-2 w-100">
                            <h5 class="px-3 py-2">Reviews</h5>
                        </a>     
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 p-4">   
                <div class="card-body bdr-grey order-history table-responsive p-2 mt-2">
                    <table class="table bdr-grey table-sm table-borderless">
                        <thead class="card-header border bdr-grey">
                            <tr class="p-2 bdr-grey">
                                <th><h5>Order Number</h5></th>
                                <th><h5>Date</h5></th>
                                <th><h5>Order Total</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr class="border bdr-grey p-2">
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:8 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>€{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>       
{% endblock %}                