{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container-fluid bckgr-white">
        <div class="row">
            <div class="col">
                <h4 class="menu-font mt-4 text-center">Profile for {{ profile_name }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-4">
                <div class="card-body p-2 mt-2">
                    <div class="">
                        <a href="{% url 'profile' %}" class="btn btn-profile-menu mt-1 p-2 w-100">
                            <h5 class="px-3 py-2">Delivery Details</h5>
                        </a>
                    </div>
                    <div class="">
                        <a href="{% url 'profile_orders' %}" class="btn btn-profile-menu mt-1 p-2 w-100">
                            <h5 class="px-3 py-2">Order History</h5>
                        </a>
                    </div>
                    <div class="">
                        <a href="{% url 'profile_reviews' %}" class="btn btn-profile-menu mt-1 p-2 w-100">
                            <h5 class="px-3 py-2">Submit Review</h5>
                        </a>     
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 p-4">
                <div class="card-body">
                    <header class="card-header border">
                        <h2 class="h5 mb-0 text-center">Default Delivery Details</h2>
                    </header>
                    <form id="profile-update-form" class="border p-4" method="post" action="{% url 'update_profile' %}">
                        {{ form | crispy }}
                        {% csrf_token %}
                        <button id="submit-profile-update-form"  type="submit" class="btn btn-outline-dark text-uppercase my-2">Update</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}
