{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container-fluid bckgr-white">
        <div class="row">
            <div class="col">
                <h2 class="menu-font m-4 text-center">Profile for {{ profile_name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-5 p-4">
                <div class="card-body p-2 mt-2">
                    <div class="">
                        <a href="{% url 'profile' %}" class="btn btn-profile-menu mt-1 p-2 w-100">
                            <h5 class="px-3 py-2">Delivery Details</h5>
                        </a>
                    </div>
                    <div class="">
                        <a href="{% url 'profile_orders' %}" class="btn btn-profile-menu mt-1 p-2 w-100">
                            <h5 class="px-3 py-2">Order History</h5>
                        </a>
                    </div>
                    <div class="">
                        <a href="" class="btn btn-profile-menu mt-1 p-2 w-100">
                            <h5 class="px-3 py-2">Reviews</h5>
                        </a>     
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7 p-4">
                <div class="card-body">
                    <header class="card-header border">
                        <h2 class="h5 mb-0 text-center">Your Reviews</h2>
                    </header>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
