{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container-fluid bckgr-white">
        <div class="row">
            <div class="col text-center">
                <h2 class="menu-font mt-4 mb-4">Shopping Basket</h2>
            </div>
            <hr class="w-100"> 
        </div>

        <div class="row">
            <div class="col-12 col-md-8">
                {% if basket_items %}
                    <div class="table-responsive p-3">
                        <table class="table table-borderless table-sm">
                            <thead class="text-black border">
                                <tr>
                                    <th scope="col" class="text-center">Product</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th class="d-none d-lg-block" scope="col">Total</th>
                                </tr>
                            </thead>
                            
                            {% for item in basket_items %}
                                <tr class="border">
                                    <td class="p-lg-3 text-md-center">
                                        <img class="img-fluid" src="{{ item.product.image.url }}" style="max-width: 100px;">
                                    </td>
                                    <td class="p-lg-3 w-md-25">
                                        <p class=""><strong>{{ item.product.name }}</strong></p>
                                        <p class="small text-muted">SKU: {{ item.product.sku }}</p>
                                    </td>
                                    <td class="p-lg-3">
                                        <p class="">€{{ item.product.price}}</p>
                                    </td>
                                    <td class="py-md-3 w-md-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                    </td>
                                    <td class="d-none d-lg-block p-lg-3 w-25">
                                        <p class="">€{{ item.product.price | calc_linetotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5 text-center">Your shopping basket is empty.</p>
                    <p class="text-center">
                        <a href="{% url 'products' %}?menu=All+Products" class="btn shop-button-br mt-1">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="menu-font-white">keep shopping</span>
                        </a>
                    </p>
                {% endif %}
            </div>
            <div class="col-12 col-md-4 mb-3 p-3">
                <div class="border">
                    <header class="card-header">
                        <h2 class="h5 mb-0">Basket Summary</h2>
                    </header>
                    <div class="card-body">
                        <!-- Shipping cost display -->
                        <div class="d-flex justify-content-between mb-2">
                            <span class="mb-0">Basket Total:</span>
                            <span class="mb-0">
                                €{{ total|floatformat:2 }}
                            </span>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <p class="mb-0">Delivery:</p>
                            <p class="mb-0">
                                €{{ delivery|floatformat:2 }}
                            </p>
                        </div>
                        <hr>
                        <!-- Order total display -->
                        <div class="d-flex justify-content-between">
                            <p class="mb-0">Subtotal:</p>
                            <p class="mb-0">€{{ grand_total|floatformat:2 }}</p>
                        </div>
                        {% if free_delivery_diff > 0 %}
                            <p class="mb-1 text-danger">
                                Spend just <strong>€{{ free_delivery_diff }}</strong> more for free delivery!
                            </p>
                        {% endif %}
                    </div>
                    
                </div>
                {% if total > 0 %}
                    <div class="">
                        <a href="{% url 'products' %}?menu=All+Products" class="btn btn-outline-dark-br w-100 mt-1">
                            <span class="icon text-center">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <a href="{% url 'checkout' %}" class="btn shop-button-br w-100">
                            <span class="text-uppercase text-center">Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                {% endif %}   
            </div>
        </div>  
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">

    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken};
        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}