/*html {
    height: 100%;
}*/

body {
    font-family: 'Lato';
    color: black;
    background-color: #FFA569;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: black;
}

.eb-garamond-font {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}


/* Header */
/*header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}*/

.logo-font {
    text-transform: uppercase;
    font-family: 'EB+Garamond', sans serif;
    color: black;
    /*font-size: 1.2rem;
    font-weight: 600;*/
}

.body-font {
    font-family: 'Lato';
    color: black;
}

.main-logo-link {
    width: fit-content;
}

.jumbotron {
    background: url('/media/potters_wheel.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 70vh;
    width: 100%;
    font-family: 'EB+Garamond';
    color: black;
 }

 body > footer {
    position: sticky;
    top: 100vh;
    clear: right;
}