/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato';
    color: black;
    background-color: #c9c2bd;
}

a {
    color: black;
}

.text-black {
    color: black;
}

#detail-link {
    color: black !important;
    text-decoration: none !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: black;
}

.sm-icon {
    font-size: 12px;
    padding-bottom: 2px;
}


/* Header Styles */
header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

header hr {
    margin-top: 0;
    margin-bottom: 0;
}

#topnav {
    padding-left: 10px;
    padding-right: 10px;
}

#delivery-banner {
    background-color: #c9c2bd;
    color: white;
}

.search-box {
    border-radius: 10px 0 0 10px;;
    border: 1px solid #A6A6A6;
    max-width: 200px;
}

.search-box::placeholder {
    
    color: #A6A6A6;
}

.search-btn {
    border: 1px solid #A6A6A6;
    border-radius: 0 10px 10px 0;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(66, 68, 56);
}

.logo-font {
    text-transform: uppercase;
    font-family: 'EB+Garamond', sans serif;
    color: black;
    /*font-size: 1.2rem;
    font-weight: 600;*/
}

.menu-font {
    text-transform: uppercase;
    font-family: 'Lato';
    color: rgb(66, 68, 56);
}


.menu-font-white {
    text-transform: uppercase;
    font-family: 'Lato';
    color: white;
}

.nav-border {
    border-top: 1px black;
}

/* Toast Messages */
.message-container {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 999999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Basket Preview */
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}


.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* Body Styles */
main {
    background-image: url('/media/potters_wheel.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section {
    height: 70vh;
    width: 100%;
    font-family: 'EB+Garamond';
    color: black;
}

.hero-text {
    background-color: rgba(201, 194, 189, 0.7);
    margin-top: 80px;
    padding: 15px;
}

.align-right {
    justify-content: end;
}

.justify-center {
    justify-self: center;
}

.transparent-backgrnd {
    background-color: rgba(201, 194, 189, 0.5);
}

.hero-section h1 {
    font-size: 2rem;
    align-self: start;
    color: black;
}

.shop-button {
    background: rgb(66, 68, 56);
    color: white;
    border-radius: 10px;
}


.shop-button i {
    color: white;
}

.btn-outline-dark {
    border-color:  rgb(66, 68, 56);
    border-radius: 10px;
}

.menu-grid {
    height: 20vh;
}

.table-responsive {
    background-color: white;
}
/*.product-grid-container {
    margin-top: 200px;
}

.product-detail-grid {
    margin-top: 150px;
}*/

.card {
    /*max-height: 250px;*/
    max-width: 300px;
    justify-self: center;
}

.card-col {
    justify-items: center;
}


/* Footer Styles */
footer {
    background-color: white;
    color: black;
    width: 100%;
    padding-left: 10px;
    padding-top: 15px;
}

footer a {
    line-height: 1.75;
}

footer span {
    padding: 2px 15px 15px 15px;
}

#newsletter-email {
    border-radius: 10px 0 0 10px;
    border: 1px solid #A6A6A6;
}

#newsletter-mail::placeholder {
    color: #A6A6A6;
    font-family: 'lato';
}

.subscribe-button {
    background: rgb(66, 68, 56);
    color: white;
    border-radius: 0 10px 10px 0;
}


.btt-link {
    cursor: pointer;
    text-align: end;
}

.update-link,
.remove-item {
    color: rgb(66, 68, 56) !important;
    cursor:pointer;
}
.remove-item :hover {
    color: red;
}

/* Media Queries */
/* Make container bigger on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* pad header container to push content down */
@media (min-width: 992px) {
    
    .header-container {
        padding-top: 162px;
    }

}



/* pad header container when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 114px;
    }
}  
