<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="menu-font font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="menu-font font-weight-bold nav-link mr-5" href="{% url 'products' %}" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="menu-font font-weight-bold nav-link mr-5" href="#" id="kitchen-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kitchen | Dining
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="kitchen-link">
                <a href="{% url 'products' %}?category=tablewear" class="dropdown-item">Tablewear</a>
                <a href="{% url 'products' %}?category=cups_mugs" class="dropdown-item">Cups & Mugs</a>
                <a href="{% url 'products' %}?category=tablewear,cups_mugs" class="dropdown-item">All Kitchen | Dining</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 menu-font" href="#" id="livingdecor-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Living | Decor
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="livingdecor-link">
                <a href="{% url 'products' %}?category=pots_vases" class="dropdown-item">Pots & Vases</a>
                <a href="{% url 'products' %}?category=lighting_candles" class="dropdown-item">Lighting & Candles</a>
                <a href="{% url 'products' %}?category=pots_vases,lighting_candles" class="dropdown-item">All Living | Decor</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link menu-font" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=deals,clearance" class="dropdown-item">All Special Offers</a>
            </div>
        </li>
    </ul>
</div>