<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="menu-font font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="menu-font font-weight-bold nav-link mr-5" href="" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc&menu=All+Products" class="dropdown-item">By Price</a>
                <!--<a href="{% url 'products' %}?sort=rating&direction=desc&menu=All+Products" class="dropdown-item ">By Rating</a>-->
                <a href="{% url 'products' %}?sort=category&direction=asc&menu=All+Products" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=category&direction=asc&menu=All+Products" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="menu-font font-weight-bold nav-link mr-5" href="#" id="kitchen-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kitchen | Dining
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="kitchen-link">
                <a href="{% url 'products' %}?category=tableware&menu=Tableware" class="dropdown-item">Tableware</a>
                <a href="{% url 'products' %}?category=cups_mugs&menu=Cups+%26+Mugs" class="dropdown-item">Cups & Mugs</a>
                <a href="{% url 'products' %}?category=tableware,cups_mugs&menu=All+Kitchen+%7C+Dining" class="dropdown-item">All Kitchen | Dining</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 menu-font" href="#" id="livingdecor-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Living | Decor
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="livingdecor-link">
                <a href="{% url 'products' %}?category=pots_vases&menu=Pots+%26+Vases" class="dropdown-item">Pots & Vases</a>
                <a href="{% url 'products' %}?category=lighting_candles&menu=Lighting+%26+Candles" class="dropdown-item">Lighting & Candles</a>
                <a href="{% url 'products' %}?category=pots_vases,lighting_candles&menu=All+Living+%7C+Decor" class="dropdown-item">All Living | Decor</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link menu-font" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=deals&menu=Deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance&menu=Clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=deals,clearance&menu=All+Special+Offers" class="dropdown-item">All Special Offers</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <div class="nav-link d-block d-lg-none dropdown-menu w-100 p-3 border-0" aria-labelledby="mobile-search">
                <form class="form" method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control search-box" type="text" name="q" placeholder="search our site..." aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn search-btn" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>     
                </form>        
            </div>
        </li>
    </ul>
</div>