{% load basket_tools %}
    <div class="d-block d-md-none col-12 mt-2">
        <p class="text-center">
            <a class="mt-4 text-center" id="basket-summary" role="button" data-toggle="collapse" data-target=".basket-summary" aria-expanded="false" aria-controls="mob-basket-summary">
                Order Summary ({{ product_count }}) €{{ grand_total | floatformat:2 }} &nbsp; <span class="sm-icon text-muted "><i class="fa-solid fa-plus"></i></span>
            </a>
        </p>
        <hr class="mt-1 mb-0">
        <div class="collapse basket-summary" id="mob-basket-summary">
            <div class="row my-2">
                <div class="col-7 offset-2">
                    <p class="my-0 small text-muted">Item</p>
                </div> 
                <div class="col-3 text-left">
                    <p class="my-0 small text-muted">Subtotal</p>
                </div>
            </div>
            <hr class="mt-1 mb-2">
            {% for item in basket_items %}
                <div class="row">
                    <div class="col-2 mb-3">
                        <a href="{% url 'product_detail' item.product.id %}">
                            {% if item.product.image %}
                                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-7">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                    </div>
                    <div class="col-3 text-md-left">
                        <p class="my-0 small text-muted">€{{ item.product.price | calc_linetotal:item.quantity }}</p>
                    </div>
                </div>
            {% endfor %}
            <br>
            <hr class="my-0">
            <div class="row my-2 text-black mr-1">
                <div class="col-7 offset-2">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Delivery:</p>
                    <p class="my-0">Grand Total:</p>
                </div>
                <div class="col-3 mb-2">
                    <p class="my-0 text-right">€{{ total | floatformat:2 }}</p>
                    <p class="my-0 text-right">€{{ delivery | floatformat:2 }}</p>
                    <p class="my-0 text-right"><strong>€{{ grand_total | floatformat:2 }}</strong></p>
                </div>
            </div>
            <hr class="mt-0 mb-3">
        </div>
    </div>   