{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}
  <div class="container-fluid bckgr-white">
    <div class="row">
      <div class="col">
        <h2 class="menu-font mt-4 text-center">{% trans "Log In" %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3 mb-3">
        <p>{% blocktrans %}If you have not created an account yet, then please sign up first. <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        <form class="login border p-3 mb-4" method="post" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="btn btn-outline-dark" href="{% url 'home' %}">Home</a>
          <button class="shop-button btn" type="submit">{% trans "Log In" %}</button>
          <p class="mt-2">
            <a class="" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
