{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
  <div class="container-fluid bckgr-white">
    <div class="row">
      <div class="col">
        <h2 class="menu-font mt-5 text-center">{% trans "Log Out" %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-3 mb-5">
        <p>{% blocktrans %}Are you sure you want to sign out?{% endblocktrans %}</p>
        <form method="post" action="{% url 'account_logout' %}" class="pt-3">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <a class="btn btn-outline-dark" href="{% url 'home' %}">Cancel</a>
          <button type="submit" class="btn shop-button">{% trans 'Log Out' %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
