{% load static %}

<!doctype html>
<html lang="en">
  <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <meta name="description" content="Hand crafted pottery on Irelands Wild Atlantic Way">
            <meta name="keywords" content="handmade pottery, Irish pottery, ceramic gifts, ceramic vases, ceramic cups, 
                ceramic mugs, ceramic plates, ceramic bowls, wild atlantic way craft, Dingle craft, pottery Dingle, sustainable pottery ">
            
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
            <link href="https://cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <!-- Preload the LCP image with a high fetchpriority so it starts loading with the stylesheet. -->
            <link rel="preload" fetchpriority="high" as="image" href="/media/potters_wheel.jpg" type="image/PNG">

        {% endblock %}

        {% block extra_css %}
        {% endblock %}
        
        {% block corejs %}
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>
            <script src="https://js.stripe.com/basil/stripe.js"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}


        <title>Wild Atlantic Wares {% block extra_title %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/png" href="https://wild-atlantic-wares.s3.eu-west-1.amazonaws.com/media/vase.png">

    </head>

    <body class="d-flex flex-column h-100">
        <header class="container-fluid fixed-top border-btm">
            <div id="delivery-banner" class="row text-center">
                <div class="col">
                    <h5>Free Delivery on Orders over €{{ free_delivery_threshold }}!</h5>
                </div>
            </div>
            <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
                <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 text-center">
                    <form class="d-flex" action="{% url 'products' %}" method="GET" >
                        <input class="form-control search-box" type="text" name="q" placeholder="search our site..." aria-label="Search">
                        <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass icon"></i></button>
                    </form>
                </div>
                <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-center">
                    <a href="{% url 'home' %}" class="nav-link logo-link">
                        <h2 class="logo-font my-0"><strong> Wild Atlantic</strong> Wares</h2>
                    </a>
                </div>
                <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 text-center pe-3">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="body-font nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg icon"></i></div>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product' %}" class="dropdown-item body-font">Product Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item body-font">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item body-font">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item body-font">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item body-font">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="body-font {% if grand_total %}text-info font-weight-bold{% else %}{% endif %} nav-link" href="{% url 'view_basket' %}">
                                <div class="text-center">
                                    <div><i class="fa-solid fa-basket-shopping icon"></i></div>
                                    <p class="my-0 text-black">
                                        {% if grand_total %}
                                            €{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            €0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row bg-white">
                <nav class="navbar navbar-light navbar-expand-lg w-100 ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                        aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>

        </header>

        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}             
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs%}
            <script>
                $('.toast').toast('show');
            </script>
        {% endblock %}
   
        <footer style="background-color: white;">
            <div class="container-fluid pt-3">
                <div class="row px-sm-2">
                    <div class="col-12 text-center pt-1 pb-3">
                        <div class="row" id="mc_embed_shell">
                            <div class="col-12 col-md-6 offset-md-3 offset-lg-3" id="mc_embed_signup">
                                <form action="https://herokuapp.us12.list-manage.com/subscribe/post?u=52c91df7cc6b5241d4bfb2cc8&amp;id=200287f467&amp;f_id=007be1e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                                    <div id="mc_embed_signup_scroll">
                                        <h2 class="text-center">Subscribe to our Newsletter</h2>
                                        <div class="mc-field-group">
                                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                                        </div>
                                    </div>
                                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                                        <input type="text" name="b_52c91df7cc6b5241d4bfb2cc8_200287f467" tabindex="-1" value="">
                                    </div>
                                    <div class="optionalParent">
                                        <div class="clear foot">
                                            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                        </div>
                                    </div>
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display: none;"></div>
                                        <div class="response" id="mce-success-response" style="display: none;"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="row pl-md-5 pt-md-2 border-top">
                    <div class="col-12 col-md-4 py-3">
                        <article>
                            <h3>Wild Atlantic Wares</h3>
                            <p>We are more than an online shop. We are crafters who pour hours into creating these pieces of pottery for our customer.
                                We take inspiration from the unique landscape that is the <strong>Wild Atlantic Way</strong>. The colours and textures of this rugged 
                                environment come through in our work. We hope you enjoy it as much as we do!
                            </p>
                        </article>
                    </div>
                    <div class="col-12 col-md-4 pl-md-5 py-3">
                        <h3>Useful Links</h3>
                        <a href="{% url 'about' %}">About Us</a><br>
                        <a href="{% url 'faq' %}">FAQ</a><br>
                        <a href="{% url 'contact' %}">Contact Us</a><br>
                        <a href="{% url 'privacy' %}">Privacy Policy</a><br>
                    </div>
                    <div class="col-12 col-md-4  py-3">
                        <h3>Connect with Us</h3>
                        <a href="{% url 'contact' %}"><i class="fa-solid fa-house"></i><strong> Dingle, Ireland</strong></a><br>
                        <a href="{% url 'contact' %}"><i class="fa-solid fa-envelope"></i> info@wildatlanticwares.com</a><br>
                        <a href="{% url 'contact' %}"><i class="fa-solid fa-phone"></i> +353 86 8774693</a><br>
                        <div class="row socials">
                            <span>
                                <a href="https://www.facebook.com/profile.php?id=61576963876705" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                            </span>
                            <span>
                                <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            </span>
                            <span>
                                <a target="_blank" href="https://www.youtube.com"><i class="fa-brands fa-square-youtube"></i></a>
                            </span>
                        </div>
                    </div>
                </div>   
                <div class="col-12 text-center border-top"> 
                    <p class="pt-3">Created by Lorraine Scanlon for Educational purposes only.</p>
                </div>
            </div>
        </footer>
        <!-- MailChimp scripts -->
        <script src="https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js" defer></script>
        <script defer>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </body>
</html>