{% load static %}


<!doctype html>
<html lang="en">
  <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            
        {% endblock %}

        {% block extra_css %}
        {% endblock %}
        
        {% block corejs %}
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}


        <title>Wild Atlantic Wares {% block extra_title %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/png" href="/media/vase.png">

    </head>

    <body class="d-flex flex-column h-100">
        <header class="container-fluid fixed-top">
            <div id="delivery-banner" class="row text-center">
                <div class="col">
                    <h5>Free Delivery on Orders over €{{ free_delivery_threshold }}!</h5>
                </div>
            </div>
            <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
                <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 text-center">
                    <form class="d-flex" action="{% url 'products' %}" method="GET" >
                        <input class="form-control search-box" type="text" name="q" placeholder="search our site..." aria-label="Search">
                        <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass icon"></i></button>
                    </form>
                </div>
                <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-center">
                    <a href="{% url 'home' %}" class="nav-link logo-link">
                        <h2 class="logo-font my-0"><!--<img src="/media/vase_sm.png" type="image/png">--><strong> Wild Atlantic</strong> Wares</h2>
                    </a>
                </div>
                <div class="col-12 col-lg-3 my-auto py-1 py-lg-0 text-center pe-3">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="body-font nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg icon"></i></div>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="" class="dropdown-item body-font">Product Management</a>
                                {% endif %}
                                <a href="" class="dropdown-item body-font">My Profile</a>
                                <a href="" class="dropdown-item body-font">Logout</a>
                                {% else %}
                                <a href="" class="dropdown-item body-font">Register</a>
                                <a href="" class="dropdown-item body-font">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <!--<li class="list-inline-item">
                            <a class="body-font nav-link" href="">
                                <div class="text-center">
                                    <div class="icons"><i class="fas fa-heart"></i></div>
                                    <p class="my-0">Wishlist</p>
                                </div>
                            </a>
                        </li> -->
                        <li class="list-inline-item">
                            <a class="body-font {% if grand_total %}text-info font-weight-bold{% else %}{% endif %} nav-link" href="{% url 'view_basket' %}">
                                <div class="text-center">
                                    <div><i class="fa-solid fa-basket-shopping icon"></i></div>
                                    <p class="my-0 text-black">
                                        {% if grand_total %}
                                            €{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            €0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row bg-white">
                <nav class="navbar navbar-light navbar-expand-lg w-100 ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                        aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>

        </header>

        {% if messages %}
            <div class="message-container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs%}
        {% endblock %}
   
        <footer style="background-color: white;">
            <div class="container-fluid">
                <div class="row p-2">
                    <div class="col-12 text-center">
                        <h5>Subscribe to our Newsletter!</h5>
                    </div>
                    <div class="col-12 center pt-1">
                     <form id="newsletter-form" class="d-flex justify-content-center">
                        <div class="">
                            <div class="input-group">
                                <input type="email" id="newsletter-email" class="form-control subscribe-box" placeholder="Enter your email">
                                <button type="submit" id="newsletter-submit" class="btn subscribe-button " aria-label="Subscribe to newsletter">Subscribe</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                </div>
                <div class="row pl-md-5 pt-md-2">
                    <div class="col-12 col-md-4">
                        <h3>Wild Atlantic Wares</h3>
                        <p>We are more than an online shop. We are crafters who pour hours into creating these pieces of pottery for our customer.
                            We take inspiration from the unique landscape that is the <strong>Wild Atlantic Way</strong>. The colours and textures of this rugged 
                            environment come through in our work. We hope you enjoy it as much as we do!
                        </p>
                    </div>
                    <div class="col-12 col-md-4 pl-md-5">
                        <h3>Useful Links</h3>
                        <a href="#" target="_blank">Our Story</a><br>
                        <a href="#" target="_blank">Contact Us</a><br>
                        <a href="#" target="_blank">FAQ</a><br>
                        <a href="#" target="_blank">Privacy Policy</a><br>
                    </div>
                    <div class="col-12 col-md-4">
                        <h3>Connect with Us</h3>
                        <a href="#" target="_blank"><i class="fa-solid fa-house"></i></i> Dingle, Ireland</a><br>
                        <a href="#" target="_blank"><i class="fa-solid fa-envelope"></i> info@wildatlanticwares.com</a><br>
                        <a href="#" target="_blank"><i class="fa-solid fa-phone"></i> +353 86 8774693</a><br>
                        <div class="row socials">
                            <span>
                                <a href="#" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                            </span>
                            <span>
                                <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            </span>
                            <span>
                                <a href="#" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
                            </span>
                        </div>
                    </div>
                </div>    
                <div class="col-12 text-center">
                    <hr>
                    <p>Created by Lorraine Scanlon for Educational purposes only.</p>
                </div>
            </div>
        </footer>
    </body>

      

</html