{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container-fluid bckgr-white border-btm width-100">
        <div class="row">
            <div class="col-12">
                <h2 class="menu-font m-4 text-center">Our Story</h2>
            </div>
        </div>
        <div class="row px-sm-2">
            <div class="col-12 col-md-5 mb-3">
                <div class="card-body p-0 text-center">
                    <img src="https://wild-atlantic-wares.s3.eu-west-1.amazonaws.com/media/couple2sm.jpg" style="width:100%; max-width: 380px;" alt="Potters">
                </div>      
            </div>
            <div class="col-12 col-md-7 mb-3">
                <div class="card-body p-0 text-justify">
                    <p class="pt-2">
                        Hello and Welcome!
                    </p>
                    <p>
                        We are Sally and Harry and we are pleased to introduce ourselves.<br> 
                        We met many years ago at Art College where we hit it off over a shared interest in sculpting. 
                        It wasn't long before we started working as a team with a goal of creating our very own local handcrafted pottery brand.<br>
                    </p>
                    <p>
                        We had discovered and fallen in love with the Dingle peninsula during our travels to art shows and craft fairs throughout the years.  
                        The artistic talent here is abundant and inspiring and so we decided that this was home for us.<br>  
                        Wild Atlantic Wares was founded in our little studio just west of Dingle town in 2010. 
                    </p>
                    <p>
                        Our pottery is inspired by the beautiful landscape that surounds us and is brought to life using sustainable and environmently friendly practices, 
                        a commitment that is very important to us.<br> 
                        Our raw matreials are sourced locally, all our pacakging is 100% recyclable and our kiln is powrered by solar energy for most of the year.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
