{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container-fluid bckgr-white border-btm">
        <div class="row">
            <div class="col">
                <h2 class="menu-font m-4 text-center">Contact Us</h2>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-12 col-md-4 mb-3">
                <div class="card-body border p-0">
                    <header class="card-header border">
                        <h2 class="h5 mb-0 text-center">Contact Details</h2>
                    </header>
                    <div class="p-3">
                        <p>Green Street,<br>
                            Dingle,<br>
                            Ireland.<br>
                            V90Y7C5.
                        </p>
                    </div>
                    <div class="px-3">
                        info@wildatlanticwares.com
                    </div>
                    <div class="px-3 py-1">
                        +353 86 8774693
                    </div>
                    <div class="px-3 pb-2">
                        Open Mon-Sat 9 to 5
                    </div> 
                </div>
                <div class="h-50 border mb-3" id="map" aria-label="map shop location">
                    <iframe
                        class="map-style"
                        frameborder="0"
                        title="Wild Atlantic Wares"
                        style="height: 100%; width: 100%"
                        referrerpolicy="no-referrer-when-downgrade" 
                        src="https://www.google.com/maps/embed/v1/place?key={{ map_key }}&q=Green+Street+Dingle&center=52.140650778978646, -10.271498356796968&zoom=14">
                    </iframe>      
                </div>
            </div>
            <div class="col-12 col-md-8 mb-3">
                <div class="card-body p-0">
                    <header class="card-header border">
                        <h2 class="h5 mb-0 text-center">Contact Form</h2>
                    </header>
                    <form id="profile-update-form" class="border p-4" method="post">
                        {{ form | crispy }}
                        {% csrf_token %}
                        <button id="submit-profile-update-form"  type="submit" class="btn btn-outline-dark text-uppercase my-2">Submit</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}
