{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container-fluid bckgr-white">
        <div class="row">
            <div class="col">
                <h2 class="menu-font m-4 text-center">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 p-4">
                <div class="card-body">
                    {% for faq in faqs %}
                        <div class="card-body border">
                            <a class="" id="detail-link" role="button" data-toggle="collapse" data-target=".collapse-{{ faq.id }}" aria-expanded="false" aria-controls="collapseExample">
                                {{ faq.title | safe }} &nbsp <span class="sm-icon"><i class="fa-solid fa-plus"></i></span>
                        </a>
                            <p class="collapse collapse-{{ faq.id }} pt-3">
                                {{ faq.body | safe }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('[data-toggle="collapse"]').on('click', function(){
            if ($(this).attr('aria-expanded') == 'false') {
                $(this).find('i').addClass('fa-minus').removeClass('fa-plus');
                $(this).attr('aria-expanded') == 'true';          
            } else {
                $(this).find('i').addClass('fa-plus').removeClass('fa-minus');
            }
        });
        
    </script>
{% endblock %}

